@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 100px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: hsl(0, 100%, 74%);
  background-image: url("/images/bg-intro-desktop.png");
  color: white;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 55px;
}

.space1 {
  line-height: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.box1 {
  width: 50%;
}

.box2 {
  width: 50%;
}

.boxing {
  padding: 15px;
  background-color: hsl(248, 32%, 49%);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 8px 2px rgba(70, 70, 70, 0.356);
  margin-bottom: 25px;
}

.cadastro {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  text-align: center;
  align-self: center;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 15px;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 5px;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
}

input::placeholder {
  font-weight: 600;
}

.botao {
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: hsl(154, 59%, 51%);
  box-shadow: 0px 2px 2px hsla(154, 56%, 29%, 0.705);
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: white;
}

span {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

.text {
  font-weight: 200;
}

.text1 {
  font-weight: 700;
  color: white;
}

.link {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: hsl(246, 25%, 77%);
}

.error {
  text-align: end;
  color: red;
  font-size: 12px;
  margin: 5px 0;
}

.error-icon {
  position: absolute;
  transform: translateY(-320%);
  left: 87%;
  width: 20px;
  height: 20px;
}

.invisible {
  display: none;
}

@media (max-width:375px){

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body{
  height: 100%;
  padding: 20px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: hsl(0, 100%, 74%);
  background-image: url("/images/bg-intro-desktop.png");
  color: white;
}

.space1 {
  line-height: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 60px;
}

br{
  display: none;
}

  h1{
    font-size: 36px;
  }

  .box1 {
    width: 100%;
  }
  
  .box2 {
    width: 100%;
  }

  .cadastro {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  text-align: center;
  align-self: center;
  flex-direction: column;
}

.error-icon {
  position: absolute;
  transform: translateY(-320%);
  left: 75%;
  width: 20px;
  height: 20px;
}
}
